   <nav class="blog-nav nav nav-justified my-5">
      {{#prev_post}}
      <a class="nav-link-prev nav-item nav-link rounded-left" href="{{url}}">Previous<i
          class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
      {{/prev_post}}
      {{#next_post}}
      <a class="nav-link-next nav-item nav-link rounded-right" href="{{url}}">Next<i
          class="arrow-next fas fa-long-arrow-alt-right"></i></a>
      {{/next_post}}
    </nav>