{{!< default}} {{#tag}} <div class="container single-col-max-width">
    <header class="blog-post-header">
        <div class="gh-tag-label">Topic</div>
        <h1 class="gh-tag-name gh-pagehead-title">{{name}}</h1>
        <div class="gh-tag-description gh-pagehead-description">
            {{#if description}}
            {{description}}
            {{else}}
            A collection of {{plural ../pagination.total empty="0 issues" singular="% issue" plural="% issues"}}
            {{/if}}
        </div>
    </header>
    {{/tag}}

    {{#foreach posts}}
    {{> loop}}
    {{/foreach}}
    {{#is "post"}}
    {{> pagination}}
    {{/is}}
    </div>